* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #101010;
  color: white;

  padding: 30px;
}

.navbar {
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #181818;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.quiz {
  max-width: 750px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitulo {
  text-align: center;
  color: #aaa;
  margin-bottom: 30px;
}

.pergunta {
  background: #1b1b1b;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.pergunta h2 {
  font-size: 19px;
  margin-bottom: 18px;
}

input {
  display: none;
}

label {
  display: block;

  background: #282828;
  padding: 13px;
  margin: 8px 0;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.2s;
}

label:hover {
  background: #383838;
}

#q1-b:checked+label,
#q2-b:checked+label,
#q3-a:checked+label,
#q4-c:checked+label,
#q5-a:checked+label {
  background: #159447;
}

#q1-a:checked+label,
#q1-c:checked+label,
#q1-d:checked+label,

#q2-a:checked+label,
#q2-c:checked+label,
#q2-d:checked+label,

#q3-b:checked+label,
#q3-c:checked+label,
#q3-d:checked+label,

#q4-a:checked+label,
#q4-b:checked+label,
#q4-d:checked+label,

#q5-b:checked+label,
#q5-c:checked+label,
#q5-d:checked+label {
  background: #b3261e;
}

.certo,
.errado {
  display: none;
  margin-top: 15px;
  font-weight: bold;
}

#q1-b:checked~.certo,
#q2-b:checked~.certo,
#q3-a:checked~.certo,
#q4-c:checked~.certo,
#q5-a:checked~.certo {
  display: block;
}


#q1-a:checked~.errado,
#q1-c:checked~.errado,
#q1-d:checked~.errado,

#q2-a:checked~.errado,
#q2-c:checked~.errado,
#q2-d:checked~.errado,

#q3-b:checked~.errado,
#q3-c:checked~.errado,
#q3-d:checked~.errado,

#q4-a:checked~.errado,
#q4-b:checked~.errado,
#q4-d:checked~.errado,

#q5-b:checked~.errado,
#q5-c:checked~.errado,
#q5-d:checked~.errado {
  display: block;
}

button {
  display: block;
  margin: 30px auto;

  padding: 14px 25px;

  border: none;
  border-radius: 8px;

  background: white;
  color: #111;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}